<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragmento.html :: cabecera(titulo='Lista de Empleados')">
    </head>
<body>
    <div class="container">
        <div th:replace="fragments/fragmento.html :: barraSuperior(actual='employee')"></div>

        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/employee/newFrm'}">Nuevo Empleado</a>                 <!-- COMPLETAR -->

        <form class="input-group mb-lg-3" method="post" th:action="@{}">                <!-- COMPLETAR -->
            <!-- COMPLETAR -->
            <div class="input-group-append">
                <!-- COMPLETAR -->
            </div>
        </form>

        <!-- COMPLETAR -->
        <!-- COMPLETAR -->
            <table class="table table-sm" th:if="${}">
                <thead>
                <tr>
                    <!-- COMPLETAR -->
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Puesto</th>
                    <th>Departamento</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- COMPLETAR -->
                    <tr th:each="emp, i:${lista}">
                        <td th:text="${i.index +1}"></td>
                        <td th:text="${emp.first_name}"></td>
                        <td th:text="${emp.last_name}"></td>
                        <td th:text="${emp.job.jobtitle}"></td>
                        <td th:text="${emp.department.departmentname}"></td>
                        <td th:text="${emp.department.location.city}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/employee/edit?id=' + ${emp.employeeid}}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{'/employee/delete?id=' + ${emp.employeeid}}">Borrar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>