<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragmento.html :: cabecera('Historial de Empleados')">

    </head>
    <body>
        <div class="container">
            <h1>Historial de Empleados</h1>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Puesto</td>
                        <td>Departamento</td>
                        <td>Fecha inicio</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="h, i:${listaHistory}">
                        <td th:text="${h.employeeid.first_name}"></td>
                        <td th:text="${emp.last_name}"></td>
                        <td th:text="${emp.email}"></td>
                        <td th:text="${emp.phone_number}"></td>

                        <td th:text="${emp.job_id}"></td>
                        <td th:text="${emp.salary}"></td>
                        <td th:text="${emp.commission_pct==null}? 'Sin comisión' : ${emp.commission_pct}"></td>
                        <td th:text="${emp.manager_id==null}? 'Sin jefe' : ${emp.manager_id}"></td>
                        <td th:text="${emp.department_id}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>